@import "reset.css";

@font-face {
    font-face-name: Linas;
    font-family: Linas;
    src: url(fonts/Linas.ttf);
}

@font-face {
    font-face-name: Dadhand;
    font-family: Dadhand;
    src: url(fonts/Dadhand.ttf);
}

@font-face {
    font-face-name: Dark;
    font-family: Dark;
    src: url(fonts/dark_half.ttf);
}

@font-face {
    font-face-name: Wacky;
    font-family: Wacky;
    src: url(fonts/Wacky.ttf);
}

@keyframes oponentsAnim {
    0% {
        margin-top: -10%;
    }

    50% {
        margin-top: 0.5%;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes fieldAnim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@keyframes result {
    0% {
        position: absolute;
        font-size: 100%;

    }

    25% {
        position: relative;
        top: -50%;
        font-size: 125%;
    }
    50% {
        position: relative;
        top: -100%;
        font-size: 150%;
    }
    75% {
        position: relative;
        top: -50%;
        font-size: 125%;

    }

    100% {
        position: relative;
        font-size: 100%;

    }




}

html, body {
    height: 100%;
    font-size: 100px;
}

/*display-1*/

.display-1 {
    display: block;
    height: 100%;
    min-width: 320px;
    min-height: 320px;
}

.wrapper {
    margin: 0 auto;
    background-color: #eee;
    height: 94%;
}

.header-box {
    height: 6%;
    background-color: #5b55a0;
}

.tttoe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.tttoe__field {
    width: 2.1rem;
    height: 2.1rem;
}

.tttoe__row {
    display:flex;
    width: 100%;
    height: 30%;
}

.ttoe__row--border {
    border-top: 0.1rem solid #e58228;
    border-bottom: 0.1rem solid #e58228;
}

.tttoe__cells {
    display: flex;
    position: relative;
    z-index: 10;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: none;
}

.tttoe__cells--border {
    border-left: 0.1rem solid #e58228;
    border-right: 0.1rem solid #e58228;
}

.tttoe__cells-o::before {
    content: 'o';
    font-family: Linas;
    font-size: 0.5rem;
    color: #13afbe;
}

.tttoe__cells-x::before {
    content: 'x';
    font-family: Dadhand;
    font-size: 1rem;
    color: #7db78e;
    padding-bottom: 0.1rem;
}

.game-info {
    height: 50%;
}

.tttoe__game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    font-family: Dark;
    font-size: 0.6rem;
    font-weight: bold;
    word-spacing: -0.1rem;
    color: #14abb9;
}

.game-variant {
    height: 55%;
    font-family: Wacky;
    font-size: 0.25rem;
    color: white;
    letter-spacing: 0.01rem;
}

.game-variant__single {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e58228;
}

.game-variant__single {
    cursor: pointer;
}

.game-variant__multi {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
    background-color: #5d57a4;
}

.game-variant__multi:hover {
    cursor: pointer;
}


/*display-2*/

.display-2 {
    display: none;
    height: 100%;
    min-width: 320px;
    min-height: 320px;
}

.header-box--2 {
    display: flex;
    height: 10%;
    min-width: 300px;
}

.header-box__menu {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 0.65rem;
    height:100%;
}

.header-box__menu:hover {
    cursor: pointer;
}

.header-box__menu-components {
    width: 40%;
    height: 6%;
    margin-bottom: 7%;
    background-color: #eee;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.header-box__opponents {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 9;
    font-family: Linas;
    width: 100%;
    height: 100%;
    margin-left: -0.65rem;
    font-size: 0.17rem;
    color: white;
    /*border: 1px solid red;*/
}

.header-box__opponents:before {
    content: attr(data-opponents);
}

.wrapper--2 {
    height: 90%;
    font-family: Linas;
}

.tttoe--game {
    height: 85%;
    width: 100%;
}

.tttoe__field--game {
    width: 3rem;
    height: 3rem;
}

.ttoe__row--border-game {
    border-top: 0.14rem solid #e58228;
    border-bottom: 0.14rem solid #e58228;
}

.tttoe__cells--border-game {
    border-left: 0.14rem solid #e58228;
    border-right: 0.14rem solid #e58228;
}

.tttoe__cells--o::before {
    position: relative;
    z-index: 0;
    content: 'o';
    font-size: 0.9rem;
    color: #13afbe;
    padding-top: 0.1rem;
    line-height: 0;
}

.tttoe__cells--x::before {
    position: relative;
    z-index: 0;
    content: 'x';
    font-family: Dadhand;
    font-size: 1.6rem;
    color: #7db78e;
    padding-bottom: 0.2rem;
    line-height: 0;
}

.game-resultation {
    display: flex;
    height: 15%;
    font-size: 0.16rem;
    font-weight: bold;
    padding: 0 1% 0 1%;

}

.game-resultation__pl-1 {
    width: 49%;
    height: 30%;
}

.game-resultation__pl-1>span:first-child {
    color: #13afbe;
}

.game-resultation__pl-1>span:last-child {
    transition: ease 1s ;
    color: #d95251;
}

.game-resultation__pl-2 {
    width: 49%;
    height: 30%;
    text-align: right;
}

.game-resultation__pl-2>span:first-child {
    color: #7cb88e;
}

.game-resultation__pl-2>span:last-child {
    color: #d95251;
}

/*@media display-1*/

@media only screen and (max-height: 250px) {
    html {
        font-size: 35px;
    }
}

@media only screen and (min-height: 251px) and (max-height: 350px) {
    html {
        font-size: 50px;
    }
}

@media only screen and (min-height: 351px) and (max-height: 520px) {
    html {
        font-size: 65px;
    }
}

@media only screen and (min-height: 600px) and (max-height: 700px)   {
    html {
        font-size: 110px;
    }
}

@media only screen and (min-height: 701px) and (max-height: 767px)   {
    html {
        font-size: 115px;
    }
}

@media only screen and (min-height: 768px) and (max-height: 1024px)   {
    html {
        font-size: 120px;
    }
}

/*desktop*/
@media only screen and (min-width: 1025px) {
    .wrapper {
        display: flex;
        flex-flow: row-reverse;
    }
    .tttoe {
        width: 45%;
        height: 100%;
    }
    .tttoe__cells-o::before {
        font-size: 1rem;
    }
    .tttoe__cells-x::before {
        font-size: 1.8rem;
    }
    .game-info {
        width: 50%;
        height: 100%;
        margin: 0 auto;
    }
    .tttoe__game-title {
        width: 100%;
        height: 35%;
        font-size: 1.05rem;
        margin: 1rem 0 0 0;
        align-items: baseline;
    }
    .game-variant {
        width: 85%;
        height: 30%;
        margin: 0 auto
    }
    .tttoe__field {
        width: 4rem;
        height: 4rem;
    }
    .wrapper--2 {
        display: block;
        height: 90%;
    }
    .tttoe--game {
        display: flex;
        width: 100%;
        height: 85%;
    }
    .game-resultation {
        font-size: 0.20rem;
        padding: 0 15% 0 15%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1250px) {
    .tttoe__game-title {
        font-size: 0.9rem;
    }
}

@media only screen and (width: 1280px) and (height: 800px) {
    .tttoe__game-title {
        font-size: 0.9rem;
        margin: 0.9rem 0 0.1rem;
    }
}

@media only screen and (width: 1280px) and (height: 1024px) {
    .tttoe__field {
        margin-top: -0.5rem;
    }
    .tttoe__game-title {
        height: 30%;
        font-size: 0.85rem;
        margin: 1.5rem 0 0;
    }
    .game-variant {
        width:75%;
        height: 25%;
    }
}

@media only screen and (min-width: 1440px)  {
    .tttoe__game-title {
        margin: 1.2rem 0 0;
    }
    .tttoe__field {
        width: 4.5rem;
        height: 4.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .tttoe__field {
        width: 5rem;
        height: 5.2rem;
    }
    .tttoe__cells-o::before {
        font-size: 1.4rem;
    }
    .tttoe__cells-x::before {
        font-size: 2.5rem;
    }
    .tttoe__game-title {
        font-size: 1.2rem;
    }
    .game-variant {
        font-size: 0.4rem;
    }
}

@media only screen and (width: 1680px) and (height: 1050px) {
    .tttoe__game-title {
        font-size: 1.6rem;
    }
    .tttoe__field {
        width: 6.3rem;
        height: 6.3rem;
    }
}

@media only screen and (min-width: 1900px)  {
    .tttoe__field {
        width: 7rem;
        height: 7rem;
    }
    .tttoe__cells-o::before {
        font-size: 2.1rem;
    }
    .tttoe__cells-x::before {
        font-size: 3.1rem;
    }
    .tttoe__game-title {
        font-size: 1.9rem;
    }
    .game-variant {
        font-size: 0.6rem;
    }
}

/*@media display-2*/
@media screen and (min-width: 415px) {
    .game-resultation {
        padding: 0 10% 0 10%;
    }
    .tttoe__field--game {
        width: 4rem;
        height: 4rem;
    }
    .ttoe__row--border-game {
        border-top: 0.18rem solid #e58228;
        border-bottom: 0.18rem solid #e58228;
    }
    .tttoe__cells--border-game {
        border-left: 0.18rem solid #e58228;
        border-right: 0.18rem solid #e58228;
    }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
    .tttoe__field--game {
        width: 4.5rem;
        height: 4.5rem;
    }
}

@media screen and (min-height: 1024px) and (max-width: 1430px) {
    .tttoe__field--game {
        width: 5rem;
        height: 5rem;
    }
    .tttoe__cells--o::before {
        font-size: 1.3rem;
    }
    .tttoe__cells--x::before {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 1431px) {
    .tttoe__field--game {
        width: 4.5rem;
        height: 4.5rem;
    }
    .tttoe__cells--o::before {
        font-size: 1.3rem;
    }
    .tttoe__cells--x::before {
        font-size:2.3rem;
    }
    .game-resultation {
        font-size: 0.3rem;
    }
    .header-box__opponents {
        font-size: 0.27rem;
    }
}

@media screen and (min-width: 1670px) {
    .tttoe__field--game {
        width: 6.5rem;
        height: 6.5rem;
    }
    .tttoe__cells--o::before {
        font-size: 2rem;
    }

    .tttoe__cells--x::before {
        font-size:3.5rem;
    }
    .game-resultation {
        font-size: 0.4rem;
    }
    .header-box__opponents {
        font-size: 0.38rem;
        letter-spacing: 0.15rem;
    }
}